@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x:hidden;
}
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: #919191; /* 스크롤바의 색상 */ 
    border-radius: 30px;
}
body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
